<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>age</th>
      <th>disease</th>
      <th>phone</th>
      <th>date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>.</th>
      <td>srinu</td>
      <td>20</td>
      <td>fever</td>
      <td>7412547845</td>
      <td>2022-12-15</td>
    </tr>
    <tr>
      <th>.</th>
      <td>rakesh</td>
      <td>20</td>
      <td>nervous disorder</td>
      <td>6305656405</td>
      <td>2022-12-29</td>
    </tr>
    <tr>
      <th>.</th>
      <td>mohana</td>
      <td>20</td>
      <td>bp</td>
      <td>9676584521</td>
      <td>2022-12-30</td>
    </tr>
  </tbody>
</table>