<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" a href="static/index.css" type="text/css" >
</head>
<body>
    <header>
        <div >
           <img src="static/images/logo.png">
        </div>
    
        </header> 
        <br>
    
<table style="width:100%">

<tr>
   <!-- <td colspan="2"><img src="static/images/d2.jpg" style="height:50px"> -->
   </td> 

   <!-- <td colspan="2">
    <p><b>Monday   -Friday 08:-19:00</b></p>
    <p>Saturday and Sunday - Closed</p>
   </td>

   <td colspan="2">
    <p><b>+91 98765 43210</b></p>
    hospital@medicare.com
   </td>

   <td colspan="2">
   <p><b>new delhi</b></p>
    India
   </td> -->


</tr >

<tr style="background-color:darkseagreen"> 

<td id="abc"><a href="/">Home</a></td>
<!--<td id="abc"><a href="/bookings">Patients Booking</a></td>-->

<!--<td id="abc"><a href="Booking Details">Booking Details</a></td>-->
<td id="abc"><a href="/register">Register</a></td>
<td id="abc"><a href="/login">Login</a></td>
<td id="abc"><a href="/services">Services</a></td>




</tr>



</table>


<tr>
    <td colspan="8"><img src="static/images/d2.jpg" style="width: 97%"></td>
    </tr>
    
    <tr>
        <td colspan="5">
        <h1>About Us</h1>
        <p>Medicare Hospital is a place of most eminent doctors in the world. All of them are pioneer in their arena and known for adopting innovative and revolutionary procedure.Medicare Hospital is committed to provide excellent health care services of highest standards in a comprehensive manner to every patient with special focus on quality, service excellence, state of art medical technology, efficient workforce and ethical practices to provide highest degree of patient satisfaction.</p>
        
    </td>
    </tr>
    

</body>
</html>