<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patients_page</title>

    <style type=text/css>
 
        p{
          background-color:gray;
          margin: 10px;
        }
         
        div
        {
          color: white;
          background-color: limegreen;
          margin: 2px;
          font-size: 25px;
        }
        </style>    
</head>
<body>
    <header>
        <center>
            <h2 style="color:black">Welcome to Medicare Hospital</h2><br>

        </center>
    </header>


    <div>
    <center>

        <button class="Appointment booking">
            <a href="/bookings">Appointment booking</a>
          </button>
        <span>  &nbsp;  </span>
        
        <button class="Appointment details">
          <a href="/booking_details">Appointment details</a>
        </button>

   </center>
    </div>
    <br>
  
  
  <center> 
      <button class="home">
        <a href="/">Logout</a>
      </button>
  
   </center>
  

</body>
</html>