<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
    #abc{
        height: 50px;
        width: 50%;
        text-align:center
    
        /*background-color: powderblue;*/
      }
      </style>
</head>
<body>
    <header>
        <button class="home">
          <a href="/">Home</a>
        </button>
    
      </header>
    
    <center><h1>specialities</h1>
    <div id="abc"  style="background-color: blueviolet;" style="color:burlywood" >Dermatology</div>

    <div id="abc" style="background-color:rgb(240, 199, 95) ;"style="color:darkgoldenrod" >Gastroenterology</div>

    <div id="abc" style="background-color:rgb(241, 137, 172);" style="color:cornflowerblue">Dental</div>
    <div id="abc"  style="background-color: rgb(65, 64, 66);"style="color:brown">Pulmonology</div>
    </center>
    <footer>
        <adress><h3>Contact us:</h3>
        <h4>Phone:+91 9876543210</h4>
        <h4>Medicare Hospitals Cross roads near Airport</h4>
        <h4>Hyderabad, 500010</h4></adress>
    </footer>
</body>
</html>